@font-face {
    font-family: 'Google Sans';
    src: url('fonts/GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
}

body {
    font-family: "Google Sans";
    text-align: center;
    height:100%;
    padding-bottom:60px;
}

p {
    font-size: 20px;
    text-align: right;
    line-height:36px;
}

h1 {
    color: #3e3021;
    font-size: 50px;
    padding: 20px;
    margin: 0;
}

h2 {
    color: #3e3021;
    font-size: 40px;
    padding: 16px;
    margin: 0;
}

h3 {
    color: #3e3021;
    font-size: 30px;
    padding: 12px;
    margin: 0;
}


table, body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.notBold {
    font-weight: lighter;
}

.button {
    border-radius: 10px;
    background-color: #f8eee1;
    font-size: 25px;
    font-weight: bold;
    height: 80px;
}

    .button a {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 80px;
        text-decoration: none;
        color: #816445;
    }

        .button a:hover {
            color: #332619;
        }

.defaultTable {
    width: 55%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 10px;
    table-layout: fixed;
}

.menu {
    font-weight: bold;
    color: #c7af96;
    font-size: 25px;
    padding: 10px;
    margin: 0;
}

    .menu a {
        color: #816445;
        text-decoration: none;
    }

        .menu a:hover {
            color: #3e3021;
        }

.footerDesign{
    font-size: 20px;
    font-weight: 500;
    height:60px;
    line-height:60px;
    background-color: antiquewhite;
    position:fixed;
    bottom:0;
    width:100%;
}

.center{
    text-align: center;
}

li {
    font-size: 20px;
    text-align: right;
}

.semiBold {
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

.formTable {
    text-align: right;
    width: 30%;
    margin: 0 auto;
    font-size: 20px;
    border-collapse: collapse;
}
    .formTable td {
        border-top: solid 1px #3e3021;
        border-bottom: solid 1px #3e3021;
        padding: 10px;
    }

.formTableName{
    width:30%;
    padding:6px;
    font-weight:bold;
}
.formTableInput {
    width: 60%;
}
.formTable input{
    font-size:20px;
    font-family:'Google Sans';
    width: 97%;
}
    .formTable input.phoneInput {
        width: 64%;
    }
.formTableSelect {
    font-size: 20px;
    font-family: 'Google Sans';
    width: 30%;
}

.checkboxes{
    margin-bottom: 8px;
}
.sitemap {
    font-weight: bold;
    color: #3e3021;
    font-size: 25px;
    padding: 10px;
    margin: 0;
}
.sitemap a {
    color: #816445;
    text-decoration: underline;
}
    .sitemap a:hover {
        color: #3e3021;
    }
    .sitemap td {
        border-top: solid 1px #3e3021;
        border-bottom: solid 1px #3e3021;
        padding: 10px;
    }
.cuisineImg {
    object-fit: cover;
    width:500px;
    height:300px;
    border-radius: 6%;
}
.sitemapFooter a {
    color: #816445;
    text-decoration: underline;
}
    .sitemapFooter a:hover {
        color: #3e3021;
    }
.formButton {
    display: inline-block;
    background-color: antiquewhite;
    line-height:32px;
}
    .formButton:hover {
        background-color: #3e3021;
        color:antiquewhite;
    }